# Created by https://www.toptal.com/developers/gitignore/api/NetBeans,
# Edit at https://www.toptal.com/developers/gitignore?templates=NetBeans,

#!! ERROR:  is undefined. Use list command to see defined gitignore types !!#

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# End of https://www.toptal.com/developers/gitignore/api/NetBeans,
