<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <filter>
        <filter-name>UTF8Filter</filter-name>
        <filter-class>UTF8Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UTF8Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>Session listener to put session in servlet context (used for paleo auth)</description>
        <listener-class>edu.slu.util.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>imageResize</servlet-name>
        <servlet-class>imageLines.ImageResize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transcriptionPDF</servlet-name>
        <servlet-class>textdisplay.transcriptionPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processImage</servlet-name>
        <servlet-class>imageLines.ProcessImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pageImage</servlet-name>
        <servlet-class>imageLines.PageImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateLine</servlet-name>
        <servlet-class>UpdateLine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>textUpload</servlet-name>
        <servlet-class>textUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadTextfile</servlet-name>
        <servlet-class>UploadTextfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sequence</servlet-name>
        <servlet-class>servlets.sequence</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transcription</servlet-name>
        <servlet-class>servlets.transcription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manuscriptListings</servlet-name>
        <servlet-class>servlets.manuscriptListings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>repoLister</servlet-name>
        <servlet-class>servlets.repoLister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LineRecognizer</servlet-name>
        <servlet-class>servlets.LineRecognizer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateLinePositions</servlet-name>
        <servlet-class>servlets.updateLinePositions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transcriptionText</servlet-name>
        <servlet-class>servlets.transcriptionText</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>binarizedImage</servlet-name>
        <servlet-class>imageLines.binarizedImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validate</servlet-name>
        <servlet-class>servlets.validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>export</servlet-name>
        <servlet-class>export</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tagTracker</servlet-name>
        <servlet-class>servlets.tagTracker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>linePositions</servlet-name>
        <servlet-class>servlets.linePositions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>parseImage</servlet-name>
        <servlet-class>servlets.parseImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTag</servlet-name>
        <servlet-class>servlets.addTag</servlet-class>
    </servlet>
    <servlet>
        <description>Update all lines in a column</description>
        <servlet-name>batchUpdateLinePositions</servlet-name>
        <servlet-class>servlets.batchUpdateLinePositions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addHotkey</servlet-name>
        <servlet-class>servlets.addHotkey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateRemainingText</servlet-name>
        <servlet-class>servlets.updateRemainingText</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fixColumns</servlet-name>
        <servlet-class>servlets.fixColumns</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>heartbeat</servlet-name>
        <servlet-class>servlets.heartbeat</servlet-class>
    </servlet>
    <servlet>
        <description>Handles annotation update, creation, and deletion</description>
        <servlet-name>annotation</servlet-name>
        <servlet-class>servlets.annotation</servlet-class>
    </servlet>
    <servlet>
        <description>Upload a custom header to override project metadata during exports.</description>
        <servlet-name>uploadHeader</servlet-name>
        <servlet-class>servlets.uploadHeader</servlet-class>
    </servlet>
    <servlet>
        <description>user uploaded images</description>
        <servlet-name>UploadImages</servlet-name>
        <servlet-class>ImageUpload.UploadImages</servlet-class>
    </servlet>
    <servlet>
        <description>progress bar uploaded images</description>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>ImageUpload.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>characterImage</servlet-name>
        <servlet-class>characterImage</servlet-class>
    </servlet>
    <servlet>
        <description>proxy used in sciat annotation</description>
        <servlet-name>proxy</servlet-name>
        <servlet-class>servlets.proxy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WitnessServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.WitnessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WitnessesServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.WitnessesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectsServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.ProjectsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManuscriptsServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.ManuscriptsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Create manuscript from vhmml. Need to check user login info. </description>
        <servlet-name>createManuscript</servlet-name>
        <servlet-class>servlets.createManuscript</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.ProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CanvasServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.CanvasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateMetadataByProjectIDServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.UpdateMetadataByProjectIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProjectCharacter</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.UpdateProjectCharacter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProjectCharacter</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.RemoveProjectCharacter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProjectTag</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.UpdateProjectTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProjectTag</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.RemoveProjectTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveNewProjectCharacter</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.SaveNewProjectCharacter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveNewProjectXML</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.SaveNewProjectXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FolioReport</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.FolioReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BulkUpdateAnnos</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.BulkUpdateAnnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptIPRServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.AcceptIPRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetHistory</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.GetHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpgradeManagement</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.UpgradeManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassicProjectFromManifest</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.ClassicProjectFromManifest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autoParse</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.AutoParse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>imageResize</servlet-name>
        <url-pattern>/imageResize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transcriptionPDF</servlet-name>
        <url-pattern>/transcriptionPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processImage</servlet-name>
        <url-pattern>/processImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pageImage</servlet-name>
        <url-pattern>/pageImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateLine</servlet-name>
        <url-pattern>/updateLine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>textUpload</servlet-name>
        <url-pattern>/textUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadTextfile</servlet-name>
        <url-pattern>/uploadTextfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sequence</servlet-name>
        <url-pattern>/sequence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transcription</servlet-name>
        <url-pattern>/transcription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manuscriptListings</servlet-name>
        <url-pattern>/manuscriptListings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>repoLister</servlet-name>
        <url-pattern>/repoLister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LineRecognizer</servlet-name>
        <url-pattern>/LineRecognizer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateLinePositions</servlet-name>
        <url-pattern>/updateLinePositions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transcriptionText</servlet-name>
        <url-pattern>/transcriptionText</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>binarizedImage</servlet-name>
        <url-pattern>/binarizedImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validate</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>export</servlet-name>
        <url-pattern>/export</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tagTracker</servlet-name>
        <url-pattern>/tagTracker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>linePositions</servlet-name>
        <url-pattern>/linePositions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>parseImage</servlet-name>
        <url-pattern>/parseImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTag</servlet-name>
        <url-pattern>/addTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>batchUpdateLinePositions</servlet-name>
        <url-pattern>/batchUpdateLinePositions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addHotkey</servlet-name>
        <url-pattern>/addHotkey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateRemainingText</servlet-name>
        <url-pattern>/updateRemainingText</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fixColumns</servlet-name>
        <url-pattern>/fixColumns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>heartbeat</servlet-name>
        <url-pattern>/heartbeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>annotation</servlet-name>
        <url-pattern>/annotation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadHeader</servlet-name>
        <url-pattern>/uploadHeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImages</servlet-name>
        <url-pattern>/UploadImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>characterImage</servlet-name>
        <url-pattern>/characterImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proxy</servlet-name>
        <url-pattern>/proxy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectsServlet</servlet-name>
        <url-pattern>/projects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManuscriptsServlet</servlet-name>
        <url-pattern>/manuscripts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createManuscript</servlet-name>
        <url-pattern>/createManuscript</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectServlet</servlet-name>
        <url-pattern>/project/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectServlet</servlet-name>
        <url-pattern>/manifest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CanvasServlet</servlet-name>
        <url-pattern>/canvas/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FolioReport</servlet-name>
        <url-pattern>/folioReport</url-pattern>
    </servlet-mapping>
    <!-- tpen webservices for newberry starts -->
    <servlet>
        <servlet-name>imageParsing</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.ImageAutoParsingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createProjectFromMSID</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.CreateProjectFromMSIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createProject</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.CreateProjectClassic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createProjectFromManifest</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.CreateProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>copyProject</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.CopyProjectForPracticerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeUserPermission</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.ChangeUserPermissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProjectLog</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.GetProjectLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllManuscript</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.GetAllManuscriptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getManuscriptByCityAndRepository</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.GetManuscriptByCityAndRepositoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveImageByURL</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.ImageUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUserToProject</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.AddUserToProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delUserFromProject</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.DelUserFromProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateLineServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.UpdateLineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProjectTPENServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.GetProjectTPENServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>geti</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.UserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delProject</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.DeleteProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveNewTransLineServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.SaveNewTransLineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTransLineServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.UpdateTransLineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProjectToolServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.AddProjectToolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeProjectToolServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.RemoveProjectToolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUserToolServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.AddUserToolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeUserToolServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.RemoveUserToolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAnnoListServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.UpdateAnnoListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAnnotationByPropertiesServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.GetAnnotationByPropertiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginHookServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.LoginHookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSharedProjectsByUserServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.GetSharedProjectsByUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutHookServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.LogoutHookServlet</servlet-class>
    </servlet>
    <!-- Depricated.  This turned in to CopyProjectAndAnnos    
    <servlet>
        <servlet-name>copyProjWithAnnoServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.CopyProjWithAnnoServlet</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>CopyProjectAndAnnos</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.CopyProjectAndAnnos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>imageParsing</servlet-name>
        <url-pattern>/imageParsing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createProject</servlet-name>
        <url-pattern>/createProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createProjectFromManifest</servlet-name>
        <url-pattern>/createProjectFromManifest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createProjectFromMSID</servlet-name>
        <url-pattern>/createProjectFromMSID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>copyProject</servlet-name>
        <url-pattern>/copyProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeUserPermission</servlet-name>
        <url-pattern>/changeUserPermission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProjectLog</servlet-name>
        <url-pattern>/getProjectLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllManuscript</servlet-name>
        <url-pattern>/getAllManuscript</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getManuscriptByCityAndRepository</servlet-name>
        <url-pattern>/getManuscriptByCityAndRepository</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveImageByURL</servlet-name>
        <url-pattern>/saveImageByURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUserToProject</servlet-name>
        <url-pattern>/addUserToProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delUserFromProject</servlet-name>
        <url-pattern>/delUserFromProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateLineServlet</servlet-name>
        <url-pattern>/updateLineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProjectTPENServlet</servlet-name>
        <url-pattern>/getProjectTPENServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>geti</servlet-name>
        <url-pattern>/geti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateMetadataByProjectIDServlet</servlet-name>
        <url-pattern>/updateMetadataByProjectIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delProject</servlet-name>
        <url-pattern>/delProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveNewTransLineServlet</servlet-name>
        <url-pattern>/saveNewTransLineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTransLineServlet</servlet-name>
        <url-pattern>/updateTransLineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProjectToolServlet</servlet-name>
        <url-pattern>/addProjectToolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeProjectToolServlet</servlet-name>
        <url-pattern>/removeProjectToolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUserToolServlet</servlet-name>
        <url-pattern>/addUserToolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeUserToolServlet</servlet-name>
        <url-pattern>/removeUserToolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAnnoListServlet</servlet-name>
        <url-pattern>/updateAnnoList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAnnotationByPropertiesServlet</servlet-name>
        <url-pattern>/getAnno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginHookServlet</servlet-name>
        <url-pattern>/loginHook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSharedProjectsByUserServlet</servlet-name>
        <url-pattern>/getSharedProjectsByUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutHookServlet</servlet-name>
        <url-pattern>/logoutHook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CopyProjectAndAnnos</servlet-name>
        <url-pattern>/copyProjectWithAnnotations</url-pattern>
    </servlet-mapping>
    <!-- tpen webservices for newberry ends -->
    <servlet-mapping>
        <servlet-name>UpdateProjectCharacter</servlet-name>
        <url-pattern>/updateProjectCharacter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProjectCharacter</servlet-name>
        <url-pattern>/removeProjectCharacter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProjectTag</servlet-name>
        <url-pattern>/updateProjectTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProjectTag</servlet-name>
        <url-pattern>/removeProjectTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveNewProjectCharacter</servlet-name>
        <url-pattern>/saveNewProjectCharacter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveNewProjectXML</servlet-name>
        <url-pattern>/saveNewProjectXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BulkUpdateAnnos</servlet-name>
        <url-pattern>/bulkUpdateAnnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptIPRServlet</servlet-name>
        <url-pattern>/acceptIPR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHistory</servlet-name>
        <url-pattern>/getHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpgradeManagement</servlet-name>
        <url-pattern>/upgradeManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassicProjectFromManifest</servlet-name>
        <url-pattern>/ClassicProjectFromManifest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autoParse</servlet-name>
        <url-pattern>/autoParse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>720</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
