/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 27, 2015, 10:05:37 AM
    Author     : bhaberbe
*/
.iTool iframe{
    width: 98%;
    border: none;
}
#helpVideoArea{
    top: 5%;
    height:  675px;
    position: absolute;
    width: 80%;
    min-width: 825px;
    left: 10%;
    display: none;
    z-index: 7;
}
#closeHelpVideo{
    position: absolute;
    right: 9px;
    font-weight: bold;
    font-size: 17pt;
    top: 3px;
    cursor: pointer;
}
.shadow_overlay{
    width: 100%;
    height: 200%;
    position: absolute;
    top:0px;
    left: 0px;
    background-color: rgba(0,0,0,.7);
    z-index: 6;
    display: none;
}
.videoLink{
    display: inline-block;
    position: relative;
    height: 25px;
    width: 25px;
    background-image: url(../images/helppositive.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 4px;
}
.vInvert{
   display: inline-block;
    position: relative;
    height: 25px;
    width: 25px;
    background-image: url(../images/helpinvert.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 4px;
}
.videoBtn{

}
.videoBtnWrapper{
    text-align: center;
}
.videoBtnWrapper .fullScreenTrans{
    display: inline-block;
    margin-right: 11px;
}
.videoBtnWrapper .videoBtn{
    display: inline-block;
    position: relative;
}
.videoBtnWrapper .videoLink{
    display: inline-block;
    position: relative;
    height: 33px;
    width: 33px;
    background-image: url(../images/helppositive.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 9px;
}
div[role="tooltip"]{
    z-index: 50;
}
.frameToolReset{
    position: absolute;
    top: 7px;
    left: 1px;
    border: 1px solid black;
    background-color: #DAE4E8;
    padding: 1px 6px;

}
a.frameReset{
    color:black !important;
}
#newCol{
    opacity: .3 !important;
}
input:focus, button:focus, a:focus{
    outline:none;
}
#markerColors{
    color:black; /* Whatever the next color is in the colorList */
}
.specialCharacters li, .xmlTags li{
    border-right: none !important;
    cursor: default;
}
.removechar{
    right: 0px;
    position: absolute;
    color: red;
    font-size: 11pt;
    font-weight: bold;
    padding: 3px;
    cursor: pointer !important;
}
.removechar:hover{
    background-color:black;
}
.centerInterface{
    max-width: 100%;
    background-color: #DAE4E8;
    max-height: 100%;
}
.optionCnfrm{
    width: 209px;
    display: block;
    position: absolute;
    height: auto;
    z-index: 5;
    background-color: gray;
    color: #002a5c;
    padding: 5px 12px;
    border: 2px solid black;
    box-shadow: 0px 0px 13px 4px black;
}
.optionCnfrm input{
    display: inline-block;
    margin: 0px 2px;
}
#adduname, #addfname{
    margin-bottom: 5px;
}
textarea:focus{
    outline: none;
}
.pageTurnCover, #parsingCover{
    display: none;
    height: 1000px;
    width: 100%;
    top: 33px;
    background-color: white;
    position: absolute;
    z-index: 6;
}
.shadow_overlay{
    width: 100%;
    height: 200%;
    position: absolute;
    top:0px;
    left: 0px;
    background-color: rgba(0,0,0,.7);
    z-index: 6;
}
#parsingCover{
    cursor: url(../images/loading.gif), auto;
    /*cursor: not-allowed;*/
    top: 0;
    background-color: rgba(0,0,0,.7);
}
.turnLoader{
    width: 100%;
    text-align: center;
}
.turnLoader img{
    width: 263px;
}

.transLoader img{

}
.turnMsg{
    font-size: 16pt;
    color: #002a5c;
    margin-bottom: 50px;
    width: 100%;
    margin-top: 33px;
    text-align: center;
}
.promoteUser{
    font-weight: bold;
    font-size: 117%;
    color: blue;
    margin-right: 5px;
}
.demoteUser{
    font-weight: bold;
    font-size: 117%;
    color: #d14836;
    margin-right: 5px;
}
.removeUser{
    margin-left: 15px;
    color: #D14836;
    cursor: pointer;
}
.removeUser:hover{
    text-decoration: underline;
}
.promoteUser, .removeUser, .demoteUser{
    cursor: pointer;
}

.activeLine{
    box-shadow: 0 0 15px .5em black;
    display: block !important;
    opacity: .6;
    border-radius: 2px;
}
.lookLikeButtons, button{
    font-family: "Open Sans","Helvetica Neue",sans-serif;
    color: #FFF;
    border-radius: 2px;
    height: 26px;
    cursor: pointer;
    background-color: #005a8c;
    position: relative;
    margin: 0px 3px;
    padding: 4px 6px;
    margin: 3px 2px;
    border:none;
}

.destroyPage{
    background-color: red;
    color: white;
    cursor: pointer;
    margin-bottom: 4px;
}
.parsing.ui-resizable{
    position: absolute !important;
}
#noLineWarning{
    height: 100%;
    width: 100%;
    background-color: rgba(102,102,102,.7);
    display: none;
    position: absolute;
    z-index: 4;
    text-align: center;
    padding-top: 245px;
    font-size: 25px;
}
#noLineConfirmation span{
    cursor: pointer;
}
#setTranscriptionObjectArea{
    display: none;
}
#transcriptionTemplate{
    height: auto;
    width: 100%;
    position: relative;
    display: inline-block;
    display: none;
    /*    margin-top:35px;*/
}
#transTemplateLoading{
    width: 100%;
    position: relative;
    display: block;
    height:400px;
    /*background-image: url('../images/loading2.gif');*/
    display: none;
}
#transTemplateLoading p{
    position: relative;
    display: block;
    text-align:center;
    top: 30px;
    font-size: 20px;
}

.transcriptlet {
    display:block;
    position:relative;
    visibility:visible;
    width:auto;
    /*top:19px;*/
    /*      z-index:3;*/
}

.transcriptletBefore {
    opacity:0;
    position:absolute;
    top:-60px;
    visibility:hidden;
}

.transcriptletAfter {
    opacity:0;
    position:absolute;
    top:100px;
    visibility:hidden;
}

#transWorkspace textarea {
    max-height: 12em;
    min-height: 60px;
    position: relative;
    width: 100%;
    z-index: 5;
    overflow: auto;
    border: 1px solid #000;
    resize: vertical;
    border-radius: 2px;
    padding-right: 2rem; /* stay clear of column labels */
}

.theText,#captions,input.hotkey {
    font-family:'Junicode','Georgia', serif;
}

#transWorkspace textarea.notes {
    display:none;
    max-width: 40%;
    border: solid thin #AAA;
    resize: none;
}

#imgTop,#imgBottom{
    display:block;
    height:35%;
    overflow:hidden;
    position:relative;
    width:100%;
    z-index:1;
    max-width: 100%;
}

#imgBottom {
    height:100%;
    z-index:2;
}

#imgTop img,#imgBottom img {
    display:block;
    left:0;
    position:absolute;
    top:0;
    max-height: none !important;
    z-index:inherit;
    max-width: 100%;
}

#transWorkspace {
    background: white url(../images/linen.png);
    box-shadow: 0px 6px 32px 4px #000;
    display: block;
    position: relative;
    width: auto;
    z-index: 3;
    height: auto;
    padding: .25em;
}
.flex-container{
    display: flex;
    margin: 2px 0;
}
.flex-bookend {
    width: 8em;
    text-align: center;
    padding: 0 .25em;
    position: relative;
}
.flex-wide, #transcriptletArea div {
    display:flex;
    flex-grow:8;
}
.flex-stretch{
    flex-align: stretch;
    justify-content: center;
    align-items: stretch;
}
.flex-stretch.buttons {
    display: flex;
    flex-wrap:reverse-wrap;
    justify-content:center;
}
.flex-stretch.buttons button {
    margin: 0 2px;
    flex: 2 1;
    height: 2em;
    max-width: 9em;
    display: block;
}
#captions {
    color: #002a5c;
    line-height: 1.25;
    -webkit-transition: opacity .25s;
    -moz-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s;
    background: #ddd;
    bottom: -2px;
}
#captionsText,#notes {
    display: inline-block;
    font-family: "Junicode","Cambria","Georgia", serif;
    text-overflow: ellipsis;
    width: 100%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;

}
#notes {
    font-family: monospace;
    color:#aaa;
    max-width:40%;
}

/*
* Transcription transition movements.
*/

#imgTop,#imgBottom {
    -webkit-transition: height .25s, width .5s;
    -moz-transition: height .25s, width .5s;
    -o-transition: height .25s, width .5s;
    transition: height .25s, width .5s;
}
#imgTop img,#imgBottom img, .lineColIndicatorArea {
    -webkit-transition: left .25s, top .25s, width .25s, max-width .25s;
    -moz-transition: left .25s, top .25s, width .25s, max-width .25s;
    -o-transition: left .25s, top .25s, width .25s, max-width .25s;
    transition: left .25s, top .25s, width .25s, max-width .25s;
}
.transcriptlet {
    -webkit-transition: opacity .5s, top .25s;
    -moz-transition: opacity .5s, top .25s;
    -o-transition: opacity .5s, top .25s;
    transition: opacity .5s, top .25s;
}

#transcriptionText{
    height:100px;
    width:80%;
    position: relative;
}

#transcriptionCanvas{
    position:relative;
    height:inherit;
    width: 100%;
    background-color: #DAE4E8;
    /*background-color: rgba(1,51,90,.5);*/
    max-width: 100%;
}

.instructions{
    position: relative;
    height:auto;
    width:auto;
    font-size: 14px;
    color:#e21635; /* or #002a5c */
    margin-bottom:10px;
    display: none;
}


.workspaceHandle{
    z-index: 1;
    position: absolute;
    height:20px;
    width: 30px;
    left:4px;
    top:4px;
}

.slideHandleRight{
    left:auto;
    right:4px;
}

#transcriptletArea,#captions{
    opacity: 1;
    position: relative;
    z-index: 3;
    visibility: visible;
    overflow: hidden;
    /*max-width: 40em;*/
    max-width: 80em;
}
div#transcriptletArea {
    margin-bottom: 0.25em;
}
#pageLabel{
    top: 3px !important;
    position: relative;
}
#pageLabel, #lineLabel, #lineCtrlLabel, #magnifyHlpLabel{
    margin: 0 auto;
    color: #002a5c;
    font-weight: bold;
    top: 3px;
    position: relative;
    font-size: 12pt;
    text-align: center;
}
#magnifyHlpLabel{
    margin-bottom: 6px;
    text-align: center;
}
#lineCtrlLabel{
    top: -1px !important;
    margin-bottom: 2px;
    cursor: move;
}
#lineCol{
    position: relative;
    display: inline-block;
    top: -81px;
    left: 1px;
    color: black;
    width: auto;
    height: 0px;
}

#prevColLine, #currentColLine{
    font-weight: bold;
    text-align: center;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    position: absolute;
    padding: 0 .25em;
    right: 0;
    z-index: 6;
}

#captionsColLine {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    cursor: default;
    color: #002a5c;
    font-size: 11pt;
    position: relative;
    color:wheat;
}
#prevColLine {
    background-color: #ddd;
}
#currentColLine {
    background: #999;
}
#zoomDiv {
    display: none;
    border-radius : 50%;
    box-shadow :5px 5px 15px 3px black,15px 15px 100px rgba(230,255,255,.8) inset,-15px -15px 100px rgba(0,0,15,.4) inset;
    width : 300;
    height:300;
    border: 3px gold outset;
    overflow : hidden;
    position:fixed;
    left: 450px;
    top: 65px;
    background-color: transparent;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat:no-repeat;
    z-index: 4;
}
#dragHelper {                    /* Provide more room to move when dragging */
    position:absolute;
    opacity:0;
    width:200px;
    height:200px;
    z-index:100;
    cursor:url(custom-theme/images/grabbing.gif),move;
}

#pageLabel1 {
    left: 35%;
    position: absolute;
}




/* Fix parsing page */

/* outer wrapper for column control and line control */
.actions{
    margin: 10px 6px;
    padding: 0px 15px 2px 13px;
    z-index: 1;
    border: 2px solid #002a5c;
    transition: max-height 1s ease;
    /*white-space: nowrap;  This is difficult.  On smaller screens, the explanation boxes must break line.*/
    overflow: hidden;
}
/* Inner sections of column control and line control */
.startHide{
    display: none;
    /*max-height: 0px;*/
    overflow: hidden;
    transition: display 1s ease;
    height: auto;
}
.actions .startHide{
    color: #002a5c;
}
.block {
    width: 100%;
    margin: 2px 0;
}
.trexHead {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background: rgba(0,0,0,.7) url(../images/trexhead.png) right center no-repeat fixed;
    background-size: 53%;
    background-position: 100% 0px;
    z-index: 3;
    display: none;
}
.tpenButton{
    /*font-weight: bold;*/
    color:white !important;
    border-radius: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    height: 35px;
    background-clip: border-box;
    background-origin: padding-box;
    cursor: pointer;
    background-color: #272727;
    border: none;
    display: block;
    /*    line-height: 35px;*/
}
.tpenButton[disabled]{
    background-color: red;
}
.tpenButton[disabled]:hover{
    background-color: red;
}
.parsingToolButtons .tpenButton{
    display: block;
    margin-bottom: 5px;
    text-align: center;
    line-height: 35px;
    font-size: 10pt;
    min-width: 165px;
}

.splitTool{
    display: block;
}
#controlsSplit {
    font-size: small; /* ticket #283 */
}
#controlsSplit button .fa {
    position: relative;
/*    margin-left: 3px; use this to bump them a little from the text if need be.*/
}
#imageToolSliders .fa {
    position: relative;
    /*    margin-left: 3px; use this to bump them a little from the text if need be.*/
}
#parsingBtn{
    display: none;
    margin: 2rem 0;
}

#parsingBtn[disabled]{
    background-color: red;
}
#parsingBtn[disabled]:hover{
    background-color: red;
}
#showTheLines::before,#showTheLabels::before{
    content: "Show "
}
#showTheLines.active::before,#showTheLabels.active::before{
    content: "Hide "
}
.fa-grayscale {
    border-radius: 50%;
    height: 1em;
    width: 1em;
    background: #959595;
    background: -moz-linear-gradient(-45deg, #959595 0%, #777777 27%, #dddddd 51%, #4e4e4e 77%, #efefef 100%);
    background: -webkit-linear-gradient(-45deg, #959595 0%,#777777 27%,#dddddd 51%,#4e4e4e 77%,#efefef 100%);
    background: linear-gradient(135deg, #959595 0%,#777777 27%,#dddddd 51%,#4e4e4e 77%,#efefef 100%);
    bottom: -2px;position:relative;
}
.fa-labels {
    border: thin white solid;
    font-style: normal;
    height: 1em;width:1em;
    bottom: -2px;position:relative;
}
.fa-labels::after {
    content:"A3";
}
.fa-reparse:before,.fa-square-o:before {
    content: url(../css/custom-theme/images/reparse30.png);
    height: 30px;
    display: inline-block;
    position: absolute;
    border: solid 1px black;
    overflow: hidden;
    background: white;
    top: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.fa-reparse-lg:before{
    content: url(../css/custom-theme/images/reparse.png);
    height: 60px;
    display: inline-block;
    position: absolute;
    border: solid 2px black;
    overflow: hidden;
    background: white;
    top: -16px; right:-16px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transform: scale(.5);
}
.splitBlock {
    padding: .68em;
}
.icon-panel {
    display: block;
    /*margin: .25em 1em;*/
}
.icon-panel button img{
    height: 45px;
    width: 45px;
    background-color: rgb(0,90,138);
}
.icon-panel button img.selected{
    background-color: #8198AA !important;
}
.splitBlock .tpenButton img{
    height: 36px;
    width: 36px;
    background-color: transparent;
    position: absolute;
    right: 3px;
    top: -2px;
}
.icon-panel button {
    padding: 0;
    margin: 0px 8px;
    line-height: 0;
    height: 45px;
    width:  45px;
    /*border: 1px solid #000;*/
    background-color: transparent;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
}
.icon-panel button:hover {
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
    background-color: #8198AA;
}
.icon-panel button img:hover {
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
    background-color: #8198AA;
}
.splitBlock.active,.icon-panel button.active {
    background:#829aac;
}
.splitBlock.active.danger,.icon-panel button.active.danger {
    background: #bf1e2d;
    color:#fff;
}
.customRulerArea{
    background-color: rgb(242, 242, 243);
    color:black;
}
#parseOptions{
    margin-bottom: 15px;
}
.blockOpen{
    transform: rotate(270deg);
}
.blockStatusClosed{
    position: absolute;
    /*bottom: 10px;*/
    right: 10px;
}

.splitBlock .tpenButton {
    display: block;
    padding-right: 43px;
    padding-left: 1em;
    height: 32px;
    font-size: 90%;
    text-transform: uppercase;
    box-sizing: border-box;
    line-height: 1.5em;
    margin: 0 auto;
    position: relative;
    background-color:rgb(0,90,138);
    color: white;
}
.splitBlock small {
    display:block;
    text-align:left;
}
.splitBlock small.danger {
    color:#bf1e2d;
}
.splitBlock.selected small.danger{
    color:#fffdd0 !important;
}

/*
      I know you really want this to be position relative and not float.  Then, it would flow perfectly with #transcriptionTemplate and .cetnerInterface functionality and resizing reflow.
      Don' do it.  It causes the stupid inline-block top alignment issue with #transcriptionTemplate.  I tried tons of ways to make it work, but it broke other parts of the
      functionality.  If you choose not to float it, it must be position absolute to be right up on the parsing split, which will have the same problem as floating it.  You can leave it
      position relative when you don't float it, but then it sticks to the far right of the screen.  However, the .centerInterface and reflow with resizing work exactly as they should.
      It is up to you which way you want it to work, but you don't get both here.  I tried.  You will waste hours.
      http://stackoverflow.com/questions/20024993/why-display-inline-block-adds-uncontrollable-vertical-margins
      -BH
      THIS WILL WORK (KEEPS IT RIGHT NEXT TO #transcriptionTemplate, but wide images cause the parsing controls to float off screen.)
      position: absolute;
      float: none;

      OR THIS WILL WORK (LOCKS THE PARSING CONTROLS TO FAR RIGHT OF SCREEN.  It causes a constant buffer between images that are taller than they are wide and the parsing controls.
      However, they should never float over the image.)
      position:relative;
      float: right;

      EVEN THOUGH YOU WANT IT, THIS WONT WORK, CHANGING THE CSS OF .centerInterface AND #transcriptionTemplate WILL NOT HELP YOU
      THE ONLY WAY I FOUND POSSIBLE WAS TO DO font-size: 75% or line-height: 12px ON #parsingSplit BUT THAT MAKES IT LOOK AWFUL
      position: relative;
      float: none;
*/
#parsingSplit {
    max-width:20em;
    min-width: 15em;
    overflow-y: auto;
    /* either this */
    position: relative;
    float: right;
    /* OR this */
    /*position: absolute;*/
    /*height: 100%;*/
    /*float: none;*/

}
#overlay{
    display: none;
    z-index: 10;
}
.caps {
    text-transform: uppercase;
}
#location {
    bottom: 0;
    left: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right: none;
    border-top: none;
    position: fixed;
    z-index: 10;
    padding: 0 5px 3px;
    display: none;
}
#highlight {
    position:absolute;
    z-index: 10;
    overflow: visible;
}
#templateResizeBar{
    right: -15px;
    position: absolute;
    background-color: #aaa;
    display: none;
    z-index: 4;
    height: 100vh;
    width: 16px;
    top: 0;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
#transcriptionTemplate .ui-resizable-handle.ui-resizable-e {
    width: 15px;
    right: -15px;
    height: 100vh;
}
.ui-widget-overlay{}
#parsingDiv{overflow: hidden;width: auto; margin-bottom: 50px;}
#linebreakDiv {height:100%; overflow: auto;width:auto;}
#parseOptions > span, #linebreakOptions > span, #columnOptions > span, #allColumnOptions > span, .destroyPage, #reparseColumn {width:100%;height:38px;float:left;padding-top:8px;z-index: 2;}
#columnOptions > span, #allColumnOptions > span {width: 50%;}
.parsingColumn {
    background-image: url('css/custom-theme/images/ui-bg_layered-circles_50_618797_13x13.png');
    background-attachment: scroll;
    background-repeat: repeat;
    position: absolute;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    z-index: 3;
    opacity:.4;
}
.parsingColumn.ui-resizable{
    border: 2px solid black;
    opacity: 1;
    background-color: rgba(0,0,0,.3);
}
.parsingColumnSelected {
    /*background-image: url('css/custom-theme/images/ui-bg_layered-circles_50_ffc6b9_13x13.png') !important;*/
    background-color: rgba(255,0,0,.2);
    border-color: red !important;
    cursor: pointer;
    opacity: 1;
    /*cursor:url("css/custom-theme/images/deleteDiv.png"),url("css/custom-theme/images/deleteDiv.cur"),auto !important;}  Visual selection for deleting columns */
}
.actions > div {position:relative;z-index: 10;margin: 4px;}
.actions{
    margin:10px 6px;background: url(images/linen.png);padding:6px 2px 2px;overflow: visible;z-index: 1; border: 1px solid #A68329;
    -moz-box-shadow: -1px 1px 2px black;
    -webkit-box-shadow: -1px 1px 2px black;
    box-shadow:-1px 1px 2px black;}

label {width:auto;padding: 0;float: none;}/*fixme should not have to overwrite*/
#linebreakText {clear:left;width:auto;max-height:120px;height:40%;overflow: auto;background: white fixed repeat; border: 2px inset #FFDB7F;margin-bottom:4px;position:relative;}
#linebreakString{max-width: 4em;width:auto;}
.linebreaking {display: block;clear: both;}
#newColumnCount{position: fixed;text-align: center;left:0;top:0;font-size: 18px;width: 80px;padding:10px;opacity:.7;z-index: 4;}
#newColumnCount span{font-size: 32px;}
#createColumnInst .buttons {max-width:246px;margin:0 auto;}
#createColumnInst .buttons button {min-width: 120px;}
#parsingLoader {z-index: 50;visibility: visible !important;position: fixed; width: 100%;height:100%;background-color: #69ACC9;top:33%;}
#parsingLoader img {position: absolute;top:0;left:0;bottom:0;right:0;margin:auto;}
#tools {float: left;width:0%;position: relative;z-index: 1;}
#tools > div {width:100%;height:100%;}
.iTool {background: url('../images/linen.png') white scroll repeat; position: relative;width: 100%;height:100%;}
.xmlClosingTags {
        position: absolute;
        bottom: 0px;
        right: 10px;
        z-index: 10;
        width: auto;
        height: auto;
}
.tags {font-size: 80%; padding: 0 .5em;margin: 2px;border-radius: 1em;z-index: 20;cursor: pointer;position: relative;}
.destroyTag {position:absolute;top:-15px;right:0;}
.loadingStatus {position:absolute;color: white; top:25%;left:30%;font-family: 'Nova Cut',sans-serif;font-size: 24px;text-shadow:0px 1px 0 #69ACC9;}
#loadingCompare {position:relative;}
.previewPage {border:thin solid black; margin-bottom: 5px;clear: both; padding: 10px;overflow: auto; background: white;
             -moz-box-shadow: -1px -1px 3px rgba(0,0,0,.4);
             -webkit-box-shadow: -1px -1px 3px rgba(0,0,0,.4);
             box-shadow:-1px -1px 3px rgba(0,0,0,.4);
}
.previewPage::before {
    content:attr(data-pagenumber);
    float: left;font-weight: bold; display: block;padding-left: 20px;}
/*.previewFolioNumber {float: left;font-weight: bold; display: block;padding-left: 20px;}
*//*.previewAnnotations {float: left;width:100%;background: wheat;}*/
/*            .previewAnnoText {display: block;}*/
.previewLine{float: left;clear:left;display:block;width:100%;cursor:default;}
.previewLine:nth-child(even) { background-color: whitesmoke; }
.previewLine:nth-child(odd) { background-color: lightgray; }
.previewLineNumber {font-style: italic;float: left;width:10%;color: #707070;}
.previewText {font-style: normal;float: left;width: 90%;min-height: 14px;}
.previewLinebreak {float: left;color:gray;}
.previewNotes {float: left; display: none; color:#4863A0;width: 90%;margin-left: 10%;}
#previewDiv{position:relative;overflow: auto;clear:both;padding: 0 2px 5px 5px;}
#previewDiv span{position: relative;}
#previewSplit {overflow: hidden;height:100%;}
.previewSave {position: absolute; right:0;font-size: 80%;cursor: pointer;z-index: 4;}
.previewTag {color:#488AC7;display:inline-block;}
#saveReport,#contribution {
    position: absolute;
    z-index: 4;
    width: 18em;
    background: white url(../images/linen.png);
    font-size: small;
    color: #999;
    text-transform: capitalize;
    max-height: 1.5em;
    overflow: hidden;
    bottom:0;
    right:0;
}
#contribution{
    left:0;
}
#contribution:before {content:'Last edit by: '}
.saveLog:first-child {color:#618797;}
#saveReport:hover {
       box-shadow: -4px -4px 8px -4px #666666;overflow:auto;
       background:#ccc;
       max-height: none;
}
#clickDivs {position: relative;height:auto;clear:both;}
.parsing,.adjustable {z-index: 5;opacity:.3;position: absolute;border:solid 1px black;}
.parsing:nth-child(even){background-color: goldenrod;}
.parsing:nth-child(odd){background-color: lightgoldenrodyellow;}
.parsing[newline=true]:nth-child(even){background-color: blue;}
.parsing[newline=true]:nth-child(odd){background-color: purple;}
.deletable {background-color: red !important;/*cursor:url("css/custom-theme/images/deleteDiv.png"),url("css/custom-theme/images/deleteDiv.cur"),auto !important;*/}
.mergeable {background-color: blue !important;}
.adjustable {background-color: white !important;/*cursor: default;*/border-right: solid black 4px;}
/*            #toggler {display: none; z-index: 6;position: fixed;right:5px;top:45px;width: auto;}*/
#imageTip {text-align: center;overflow: visible;display: none;z-index: 6;position:absolute;background-color:#A68329;height: 18px;width:auto; max-width: 100px;color:#FFDB7F;box-shadow:2px 2px 4px black;}
#ruler1,#ruler2 {display: none;background: black;position: absolute;z-index: 6; pointer-events: none;}
#sampleRuler {overflow: hidden;position:relative;background:black;width:80%;margin:0 auto;height:2px;top:-10px;}
#savedChanges {display: none; opacity:0;position: fixed;right:20px;min-width:150px;top:100%;padding: 4px;text-align: center;z-index: 50;}
#linebreakDiv {height:100%; padding: 4px;overflow: auto;width:auto;}
#parseOptions > span, #linebreakOptions > span, #columnOptions > span, #allColumnOptions > span, .destroyPage, #reparseColumn {width:100%;height:38px;float:left;padding-top:8px;z-index: 2;}
#columnOptions > span, #allColumnOptions > span {width: 50%;}
/*.actions > div {position:relative;z-index: 10;margin: 4px;}
.actions{
    margin:10px 6px;background: url(images/linen.png);padding:6px 2px 2px;overflow: visible;z-index: 1; border: 1px solid #A68329;
    -moz-box-shadow: -1px 1px 2px black;
    -webkit-box-shadow: -1px 1px 2px black;
    box-shadow:-1px 1px 2px black;}*/
label {width:auto;padding: 0;float: none;}/*fixme should not have to overwrite*/
#linebreakText {clear:left;width:auto;max-height:120px;height:40%;overflow: auto;background: white fixed repeat; border: 2px inset #FFDB7F;margin-bottom:4px;position:relative;}
#linebreakString{max-width: 4em;width:auto;}
.linebreaking {display: block;clear: both;}
#newColumnCount{position: fixed;text-align: center;left:0;top:0;font-size: 18px;width: 80px;padding:10px;opacity:.7;z-index: 4;}
#newColumnCount span{font-size: 32px;}
#createColumnInst .buttons {max-width:246px;margin:0 auto;}
#createColumnInst .buttons button {min-width: 120px;}
#iprAccept .clear button{
    display: inline-block;
    margin-right: 6px;
}
#iprAccept,#requestAccessContainer, #genericIssue {position: fixed;left:0;right:0;top:10%;margin:auto;width:90%;max-width: 600px;max-height: 400px;overflow: hidden;padding: 5px;z-index: 50;
                           -moz-box-shadow:0 0 45px black;
                           box-shadow:0 0 45px black; display:none;}
#requestAccess textarea {width:100%;height:5em;}
#requestAccess a.returnButton {position: absolute;bottom: -36px;}
#ipr_user{z-index: 10};
#iprAgreement .clear{z-index:10;}
#iprAgreement {background-color: whitesmoke;padding: 3px;overflow: auto; max-height: 200px;border: thin inset black; z-index: 10;}
#iprAgreement h1,#iprAgreement h2,#iprAgreement h3,#iprAgreement h4,#iprAgreement h5,#iprAgreement h6{
    text-shadow: none;
    color: #226683;
    /*    font-family: Tahoma, Geneva, sans-serif;*/
}
#lineResizing,#progress{position: fixed;right:10px;z-index: 500;padding: 15px;display: none;
                        -moz-box-shadow: 0 0 15px black;
                        box-shadow: 0 0 15px black;
}
#progress {bottom:0;right:0;}
#lineResizing {top:50%;width:auto;max-width: 25%;}
#zoomDiv {display: none;border-radius : 50%; box-shadow :5px 5px 15px 3px black,15px 15px 100px rgba(230,255,255,.8) inset,-15px -15px 100px rgba(0,0,15,.4) inset;width : 300;height:300;border: 3px gold outset;overflow : hidden;position:fixed;left: 450px;top: 65px;background-color: transparent;background-position: 0px 0px;background-size: auto;background-repeat:no-repeat;}
#historyListing {height: 100%;overflow: auto;position:relative; overflow: auto; max-height: 83vh !important; z-index: 1; background: #ffebb9;}
.historyEntry,.historyLine{position: relative;overflow: auto;}
.historyLine{height:auto; margin-bottom: 20px; display: none;}
.historyEntry {border-width: 0px; padding:5px 0;margin:2px 0; }
.historyEntry:hover {box-shadow:rgba(166,65,41,0.7) 0 0 10px,rgba(166,65,41,0.7) 0 0 10px inset;}
.historyNote,.historyText{position: relative;overflow: auto;padding:3px;background:whitesmoke;margin: 0 10px;clear: left; max-height: 5em; min-height: .5em;}
.historyNote {display: none;}
.historyCreator,.historyDate{position: relative;overflow: hidden;margin: 0 10px;float: left;}
.historyOptions {position: absolute;right:12px; top:20px;z-index: 10;display: none;}
#historyViewer {height: 200px;overflow: hidden;position: relative; z-index: 0;}
#historyViewer img {position:absolute;height:auto;width:100%;}
.historyBookmark {position:absolute;box-shadow:0 0 30px 5px black;border:thin blue solid;z-index: 1;}
.historyRevert {margin: 0 4px;}
#historyWrapper{
    position: relative;
    z-index: 2;
}
.previewText:focus,.previewNotes:focus {box-shadow:0 0 5px #A64129 !important;}
.isUnsaved textarea {box-shadow: 0 0 10px #A64129;}
#help {z-index: 10;position: absolute;display: none;left:100%;overflow: hidden;width: 100%; color: rgba(40,40,40,1);-webkit-transition:left 2s;-moz-transition:left 2s;transition:left 2s;font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
       -webkit-box-sizing:border-box;
       -moz-box-sizing: border-box;
       -ms-box-sizing: border-box;
       box-sizing: border-box;
}
#help iframe {width:auto;height:auto;}
#helpPanels {position: relative;width:3000px;overflow: hidden;-webkit-transition:margin 2s;-moz-transition:margin 2s;transition:margin 2s;
             background: rgb(255,255,255); /* Old browsers */
             background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
             background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
             background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
             background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* Opera 12+ */
             background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
             background: radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#helpContents {position: relative;width: 100%;cursor: pointer; padding: 5px 41%;
               background: rgb(76,76,76); /* Old browsers */
               background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
               background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
               background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
               background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
               background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
               background: linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
               filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}
.helpContents {background: aliceblue;display: inline-block;height: 12px;width:12px;margin: 0 6px;border-radius:50%; position:relative;}
.helpContents:hover {box-shadow:0 0 4px orangered inset; top:5px;}
.helpActive {box-shadow:0 0 6px 2px orangered inset !important;}
.helpContents:hover:after{
    content: attr(title);
    left:144px;
    color:silver;
    text-shadow:0 0 2px orangered;
    position:relative;
    white-space: nowrap;
    font-family:monospace;
    font-size:14px;
    top:-6px;
}
.helpContents:nth-child(2):hover:after{
    left:119px
}
.helpContents:nth-child(3):hover:after{
    left:94px
}
.helpContents:nth-child(4):hover:after{
    left:69px
}
.helpContents:nth-child(5):hover:after{
    left:44px
}
.helpPanel {width: 600px;position: relative;max-height: 550px;overflow: auto;float: left;padding:10px;
           box-sizing:border-box;
           /*                        -moz-column-width:400px;-moz-column-gap:20px;-webkit-column-width:400px;-webkit-column-gap:20px;column-width:400px;column-gap:20px;*/
           background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0) 100%); /* FF3.6+ */
           background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
           background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
           background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
           background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%); /* IE10+ */
           background: linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%); /* W3C */
           filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
.helpPanel h2{
    color: rgba(40,40,40,1);text-shadow:1px 1px 0 rgba(240,240,240,1);}
#closeHelp {position: absolute;z-index: 1;right:20px;top:5px;}
#closeHelp:hover {background-image: url(css/custom-theme/images/ui-icons_cd0a0a_256x240.png);}
#helpMe{cursor: help;}
/*.showMe {border: dotted 1px transparent; border-bottom: dotted 1px orangered;cursor: help;display: inline-block;position: relative;}
.showMe:hover {color: rgb(255,36,0);border: solid 1px rgba(255,36,0,.7);border-bottom: transparent;border-top-left-radius:3px;border-top-right-radius:3px;padding:2px;margin:-2px;}*/
.helpDetail{position: absolute;left:0;top:16px;max-width: 350px;border: solid 1px rgba(0,100,0,.7);box-shadow:1px 1px 3px black;overflow: visible;z-index: 1;display: none;background: whitesmoke url(images/linen.png);padding: 5px;text-align: center;font-size: 14px !important;}
.helpDetail span {margin:4px;}
.gloss {position: absolute;left:0;top:16px;min-width:325px;max-width: 600px;border: solid 1px rgba(0,100,0,.7);box-shadow:1px 1px 3px black;overflow: visible;z-index: 1;display: none;}
.gloss dt {font-variant: small-caps;font-size: larger;font-weight: bold;}
.glossary {position: relative;border: dotted 1px transparent; border-bottom: dotted 1px rgba(0,100,0,.7);cursor: help;display: inline-block;}
.glossary:hover {color: rgb(0,100,0);border: solid 1px rgba(0,100,0,.7);border-bottom: transparent;border-top-left-radius:3px;border-top-right-radius:3px;padding:2px;margin:-2px;}
#lbText {white-space: pre;}
[onclick]{
    cursor:pointer;
}
#fullscreenBtn {
    cursor:pointer; display: none; position:absolute; z-index: 2; height:100%; width:16px; right:0; top:0;
    -moz-box-shadow:4px 0 10px 0px black;
    -webkit-box-shadow:4px 0 10px 0px black;
    box-shadow:4px 0 10px 0px black;
    background: rgb(171,183,188); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(171,183,188,1) 0%, rgba(232,233,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(171,183,188,1)), color-stop(100%,rgba(232,233,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(171,183,188,1) 0%,rgba(232,233,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(171,183,188,1) 0%,rgba(232,233,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(171,183,188,1) 0%,rgba(232,233,234,1) 100%); /* IE10+ */
    background: linear-gradient(left,  rgba(171,183,188,1) 0%,rgba(232,233,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abb7bc', endColorstr='#e8e9ea',GradientType=1 ); /* IE6-9 */
    -moz-transition: all .5s; /* Firefox 4 */
    -webkit-transition: all .5s; /* Safari and Chrome */
    -o-transition: all .5s; /* Opera */
    transition: all .5s;
}
#fullscreenBtn:hover{
    -moz-box-shadow:6px 0 8px 2px black;
    -webkit-box-shadow:6px 0 8px 2px black;
    box-shadow:6px 0 8px 2px black;
    background: rgb(200,215,220); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(200,215,220,1) 0%, rgba(227,234,237,1) 63%, rgba(242,245,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(200,215,220,1)), color-stop(63%,rgba(227,234,237,1)), color-stop(100%,rgba(242,245,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(200,215,220,1) 0%,rgba(227,234,237,1) 63%,rgba(242,245,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(200,215,220,1) 0%,rgba(227,234,237,1) 63%,rgba(242,245,246,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(200,215,220,1) 0%,rgba(227,234,237,1) 63%,rgba(242,245,246,1) 100%); /* IE10+ */
    background: linear-gradient(left,  rgba(200,215,220,1) 0%,rgba(227,234,237,1) 63%,rgba(242,245,246,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8d7dc', endColorstr='#f2f5f6',GradientType=1 ); /* IE6-9 */
}
#fullscreenBtn span {display: block;float: left;clear: left;}

#pageJump{
    position: relative;
    height: 2em;
    border: none;
    z-index: 3;
    text-align: center;
}
#splitScreenTools, #compareJump{
    border: 2px solid #005a8c;
    font-size: .8em;
    border-radius: 2px;
    cursor: pointer;
    flex:2 1 auto;
    max-width: 12em;
}
/* Looks different than splitScreentTools without this padding for some reason. */
#compareJump{
    padding: 3px 4px 3px 0px;
}
#magnifyTools{
    position: absolute;
    height: auto;
    border: 2px solid gray;
    background-color: white;
    display: none;
    top: 50px;
    left: 200px;
    text-align:center;
}
.closeBtn{
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 2px;
    cursor: pointer;
    width: 16px;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    z-index: 4;
}
.closeBtn:hover{
    background: #FFF;
}
.closeBtn::after {
    content: "close";
    position: absolute;
    right: 1.5em;
}
.popupTitle{
    margin: 0 auto;
    position: relative;
    display: inline-block;
    top: 4px;
    cursor: move;
    font-weight: bold;
    font-size: 12pt;
}
#imageTools{
    background-color: #BFBFBF;
    display: none;
    color: black;
    text-align: center;
    position: absolute;
    z-index: 3;
    border: 2px solid black;
    margin-left: 6px;
    color: rgba(0,42,92,1);
    position: fixed;
}

#brightnessSlider, #contrastSlider{
    margin: 7px 0px 18px 0px;
}
.character, .lookLikeButtons, .xmlTag{
    cursor: pointer;
    margin: 0 1px;
    min-width: 2em;
    display: inline-block;
    text-align: center;
    height: 35px;
    line-height: 35px;
    padding: 0 4px !important;
    font-size: 1em;
}
.xmlTag, .character {
    line-height: 1.25;
    min-width: 1em;
    margin: 0 .25em;
    counter-increment: hotkey;
}
.character::after, .editButtons::after, .editXMLs::after {
    content: "CTRL+" counter(hotkey);
    position: absolute;
    color: #999;
    font-size: .75em;
    bottom: 0;
    left: 0;
    font-family: monospace;
    width: 100%;
    text-align: center;
}
.character{
    font-family:'Junicode','Georgia', serif;
    min-width: 2em;
    line-height: 1.5;
}
.lookLikeButtons:hover {
    background-color: #829aac !important;
}
.lookLikeButtons:hover::after {
    color: #ffffff !important;
}

#parse,#linebreak,#moveimg{
    position: relative;
    display: inline-table;
}
.split{
    display: none;
    position:relative;
    width:43%;
    height:100vh;
    overflow: hidden;
    float: right;
    background-color: rgba(1,51,90,.5);
    background-color: #e1f4fe;
    z-index: 3;
}
/*#activeImageTool{
    padding: 4px 6px;
    background-color: white;
    cursor: default;
    position: relative;
    top: 0px;
    color: black !important;
    height: 23px;
    line-height: 23px;
    text-align: left;
}*/
#activeImageTool i {
    right: 5px;
    top: 3px;
    font-size: 9pt;
    display: block;
    position: absolute;
    transform: rotate(180deg);
}
.toolWrap{
    display: block;
    height: auto;
}
button.imgTool{
    width: 37%;
}
.imgTool{
    cursor: pointer;
    border: 1px solid black;
    padding: 4px 3px;
    margin: 0px;
}
#imageToolSliders{
    cursor: default !important;
    border: transparent !important;
}
#imageToolSliders:hover{
    background-color: transparent !important;
}
#activeCharacters, #activeTags{
    background-color: white;
    cursor: default;
    padding: 4px 6px;
}
#activePage{
    background-color: white;
    cursor: default;
    padding: 4px 6px;
}
.splitTool,  .magnifyTool, .folioJump, .compareJump{
    cursor: pointer;
    color: black;
    background-color: white;
    padding: 4px 0px;
}
.splitTool:hover, .imgTool:hover, .magnifyTool:hover, .folioJump:hover, .compareJump:hover{
    background-color: rgb(209,72,54);
}
.split header {
    text-align: center;
    background: #6d6e71;
    color: #e1f4fe;
    text-transform: uppercase;
    line-height: 1.5;
    margin: 0 -15px 6px -15px;
}
.fullScreenTrans::before {
    content: "Close ";
    font-size: .8rem;
    text-transform: uppercase;
    position: relative;
}
.fullScreenTrans::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: 100%;
    z-index: -1;
}
#parsingSplit .fullScreenTrans::before{
    content:"Return to Transcription "
}
.fullScreenTrans {
    width: auto;
    color: #fff;
    background-color: #005a8c;
    cursor: pointer;
    margin: .5rem auto;
    padding: 0 .25rem;
    display: table;
    text-align: center;
}

.fullScreenTrans:hover{
    background-color: #829aac;
}

kbd {
    background: #CCC;
    border-radius: 2px;
    border: solid thin #333;
    color: #666;
    padding: 0 .5em;
}

#miradorInstance { background: black; width: 100%; position: relative; display:block; }



.invertFilter{
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter:invert(100%);
    filter: invert(100%);
}
.grayscaleFilter{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}
.invertFilter.grayscaleFilter{
    -webkit-filter: invert(100%) grayscale(100%);
    -moz-filter: invert(100%) grayscale(100%);
    -o-filter: invert(100%) grayscale(100%);
    -ms-filter: invert(100%) grayscale(100%);
    filter: invert(100%) grayscale(100%);
}
#iTools{
    position: relative;
    display: inline-table;
    height: auto;
    width:auto;
}
.topTrim{
    position: relative;
    top: 0px;
    left:0px;
    width : 100%;
    height:32px;
    cursor:default;
    white-space: nowrap;
    box-shadow: 0 0 4px black;
}
#maintenance{
    padding: 0px 5px 2px 4px;
}
.trimSection{
    font-size: 10pt;
    color: #FFF;
    border-right: 2px solid #BFBFBF;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    position:relative;
    cursor: default;
    padding: 0px 11px 2px 4px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    letter-spacing: .5px;
}
.topTrim>.trimSection{
    max-width: 30%;
}
.trimSection:last-child{
    border-right: none;
}
.fa-2x {
    margin-top: -0.5em;
    top: 0.25em;
    position: relative;
}
.showMe{
    position: relative;
    /*display: none;*/
    display: inline-block;
    border: dotted 1px transparent;
    border-bottom: dotted 1px orangered;
    cursor: default;

}
.showMe:hover{
    border: 1px solid orangered;
}
.hideme,.showMe2{
    position: relative;
    display: none;
}
.toolLinks {
    position: relative;
    width: 100%;
    /*background-color: rgb(225, 244, 254);*/
    padding: 5px 0px;
    margin-top: .7em;
    text-align: center;
}
#prevLine,#nextLine,#toggleNotes,#nextPage,#prevPage{
    position: relative;
    line-height:2em;
    width:5.5em;
    padding: 0 .5em;
    margin: .25em 0;
}
#nextPage,#prevPage{
    width:100%;
}
#toggleNotes {
    margin-top:0;
}
#nextPage,#prevPage{
    background-color: #993333;
}
#pageControls {
    margin-right: 2px;
}
#pageControls,#lineControls{
    background-color: rgba(0,0,0,.3);
    text-align:center;
    border-radius: 4px;
}
#lineControls i, #pageControls i{
    display: inline-table;
    margin: 0px 7px;
    position:relative;
}
#lineControls i:hover{
    cursor: pointer;
    color: #d14836;
}
#pageControls i:hover{
    cursor: pointer;
    color: #d14836;
}
/*#ruler1,#ruler2 {display: none;background: black;position: absolute;z-index: 6; pointer-events: none;}*/

html{
    overflow: hidden;
}
body{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
button, #uploadText, .lookLikeButtons {
    color:white;
    border-radius: 2px;
    padding: 4px 6px;
    height: 35px;
    cursor: pointer;
    background-color: #005a8c;
    border: none;
}
button:hover{
    background-color: #829aac !important;
}
button.active {
    background-color: #618797;
}

.handl{
    background-image: url("../images/grabber.png");
    width:30px;
    height:16px;
    border:1px solid black;
    display: block;
}
.lineColIndicator{
    z-index:10;
    position: absolute;
    border:2px solid white;
    font-size:.8em;
    color:white;
    transition: box-shadow .5s;
    opacity: .36;
    /*display: none;*/
    box-sizing: border-box;
    box-shadow: none;
}
.lineColIndicator:hover{
    opacity: 1;
}
.lineColIndicatorArea{
    position: absolute;
    display: inline-block;
    width:100%;
}
.lineColOnLine{
    position: absolute;
    right: 0px;
    border-left:1px solid rgba(255,255,255,.2);
    padding: 0px 8px;
    height:100%
}
.lineColOnLine:hover{
    cursor: default;
    font-weight: bold;
}
#fullpageSplitCanvas .lineColOnLine{
    border-left: none !important;
    font-size: 8pt;
    color: transparent !important;
}
.lineColIndicator.fullP{
    display: block !important;
}
#fullpageSplitCanvas{
    height:100%;
    position:relative;
    display: block;
    width:auto;
    margin: 0px auto;
}
.ui-tooltip {
    left: 0;
    height: 1rem;
    font-size: small;
    position: absolute;
}
.activeTools{
    height: 190px !important;
}
#imageToolSliders .ui-slider-range.ui-widget-header{
    background: #226683 !important;
}
#imageToolSliders .ui-slider-handle{
    background: #226683 !important;
}
#imageTools .ui-slider-horizontal .ui-slider-handle {
    background: #002a5c;
    border: 1px solid black;
}
#helpVideoLinks a{
    color: black;
}
a{
    text-decoration: none !important;
    color: white;
}
.jump{
    min-width: 305px;
}
.parsingToolButtons{
    max-width: 25%;
    display: inline-table;
}
.activeParsingTool{
    display: none;
    /*border: 1px solid black;*/
    padding: 0px 1%;
    margin-bottom: 12px;
    width: 98%;
    background-color: #BFBFBF;
    margin-top: 10px;
}
.ui-slider-horizontal{
    height: .3em;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.4em;
    margin-left: -.6em;
}

.selected button{
    background-color: #8198AA;
}
button.selected{
    background-color: #8198AA !important;
}

.splitBlock.selected{
    /*background-color: rgb(189, 35, 49);*/
    /*color:white;*/
}
.splitBlock.selected.danger{
    background-color: rgb(189, 35, 49);
    color:#fffdd0 !important;
}

.nohover:hover{
    background-color: black !important;
    cursor: default !important;
}

/* 2.8 fixes */

.ui-resizable:not(.ui-resizable-disabled),.noTransition,.lineColIndicatorArea {
    -webkit-transition: all 0s !important;
    -moz-transition: all 0s !important;
    -o-transition: all 0s !important;
    transition: all 0s !important;
}
#allXML{
    margin-bottom: 10px;
}
html {
    height: 100%;
    height: 100vh;
}

#helpBtns {
    float: right;
}

.navigation {
    color: white;
    background: rgb(166,65,41); /* Old browsers */
}
a.navigation {
    border-color: white;
}
.topTrim a {
    border:none;
    background: none;
    padding:0 .25em;
    color: white;
}
.topTrim a:hover, .topTrim [onclick]:hover {
    background-color: white;
    background-color: rgba(255,255,255,.5);
    color: #a64129;
}
#xmlTagFloat, #specialCharsFloat{
    z-index: 3;
    position: relative;
    display: none;
    padding:.25em;
    counter-reset: hotkey;
    flex-grow: 1;
}
.special-charactered {
    background-color: #bbb;
    color:#333;
}

#charactersPopin,#xmlTagPopin {
    background: #ddd;
    margin: -4px;
    padding: 4px 1px;
    margin-right: 4px;
    flex-grow:2;
}
.xml-tagged {
    background: #999;
    background: #777;
}
.special-charactered, .xml-tagged {
    margin-right: .5em;
}
#xmlTagPopin {
    background: #999;
}
.xmlTag, .character {
    line-height: 1.25;
    min-width: 1em;
    margin: 0 .25em;
    counter-increment: hotkey;
    height: 1.8em;
}
.xmlTag::after{
    content: attr(title);
    position: absolute;
    color: #999;
    font-size: .75em;
    bottom: 0;
    left: 0;
    font-family: monospace;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.character {
    min-width: 2em;
}
.character::after,.editButtons::after {
    content: "CTRL+" counter(hotkey);
    position: absolute;
    color: #999;
    font-size: .75em;
    bottom: 0;
    left: 0;
    font-family: monospace;
    width: 100%;
    text-align: center;
}
.let {
    margin-right:2% !important;
}
a.editButtons {
    height: 1.4em;
    white-space: nowrap;
    min-width: 4em;
    font-size: small;
    line-height: 1.4;
}
.editButtons::after{
    content: "";
}

.manController{
    text-decoration: underline;
}

/* Center the images inside compare page and view full page */
/*.compareImage, #fullPageImg{
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
     max-height: 98%; cubap: what?
}*/

/* The help area CSS */
#helpSplit{
    width: 520px;
    max-width: 520px;
    background-color: white;
}
#helpHeaders{
    padding: 1em 0;
    text-align: center;
}
#helpHeaders a{
    display: inline-block;
    border: 1px solid #999;
    padding: 0 .5em;
    text-transform: uppercase;
    color: #999;
}
#helpSplit dt{
    font-style: italic;
    margin-top: 1em;
}
#helpSplit dd {
    margin: 0;
    font-size: .8em;
}
#helpSplit kbd {
    font-size: 1rem;
}
.helpSubsection{
    margin: 1em 0;
    text-transform: uppercase;
    font-weight: bold;
}
.helpSection+.helpSection{
    border-top:2px #999 solid;
}
#helpContainer{
    padding:0 2em;
    overflow-y: scroll;
}
.no-point{
    pointer-events: none;
}
.reveal {
    margin: 0;
    padding: .25em;
    border-radius: 2px;
    height: auto;
}

/* Control what hides/shows during page resize collapse */
#classicSwitch::before {
    content:"Classic ";
}
#helpMe::before {
    content:"Help ";
}
#helpContact::before {
    content:"Contact ";
}
#homeBtn::after {
    content:" T-PEN Home";
    white-space: nowrap;
}
#projectsBtn::after {
    content:" My Projects";
    white-space: nowrap;
}
#currentUser::before {
    content:"Transcribing as ";
    white-space: nowrap;
}
#prevPage::after {
    content:"Prev";
    white-space: nowrap;
}
#prevLine::after{
    content:"Prev";
    white-space: nowrap;
}
#nextPage::before {
    content:"Next";
    white-space: nowrap;
}
#nextLine::before{
    content:"Next";
    white-space: nowrap;
}
#toggleNotes::after{
    content:"Notes";
    white-space: nowrap;
}
#canvasControls::before {
    content:"Page Tools ";
    white-space: nowrap;
}
#magnify1::before {
    content:"Inspect ";
    white-space: nowrap;
}
#toggleChars::before {
    content:"Characters ";
    white-space: nowrap;
}
#toggleXML::before {
    content:"XML Tags ";
    white-space: nowrap;
}

#transWorkspace .navigation{
    background-color: transparent !important;
}

.navigation.collapsed #classicSwitch::before,
.navigation.collapsed #helpMe::before,
.navigation.collapsed #currentUser::before,
.navigation.collapsed #homeBtn::after,
.navigation.collapsed #projectsBtn::after,
.navigation.collapsed #toggleNotes::after,
.navigation.collapsed #helpContact::before,
.navigation.collapsed #prevPage::after,
.navigation.collapsed #prevLine::after,
.navigation.collapsed #nextPage::before,
.navigation.collapsed #nextLine::before,
.navigation.collapsed #canvasControls::before,
.navigation.collapsed #magnify1::before,
.navigation.collapsed #toggleChars::before,
.navigation.collapsed #toggleXML::before
{
    content:"";
}
.navigation.collapsed #maintenance #countdown{
    display: none;
}
.navigation.collasped #maintenance #schedmaintenance{
    display: none;
}
.navigation.collapsed #trimPage,.navigation.collapsed #titleSection {
    max-width: 4em;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
.navigation.collapsed #titleSection{
    max-width: 6em;
}
#pageJump{
    position: relative;
    height: 2em;
    border: none;
    z-index: 3;
    text-align: center;
}
.navigation.collapsed #pageJump {
    max-width: 1.5em;
    margin: 0 .5em;
}

.navigation.collapsed.severe #titleSection,
.navigation.collapsed.severe #classicSection,
.navigation.collapsed.severe #currentUser,
.navigation.collapsed.severe #contactSection,
.navigation.collapsed.severe #maintenance,
.navigation.collapsed.severe #videoBtn_trans
{
    display:none;
}
/* End collapse control */

.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}
#countdown{
    color: blue;
    margin-left: 20px;
}
button,.navigation, #contribution,
#saveReport,#imgTop,#imgBottom,.tags,
.buttons, #specialCharsFloat, #xmlTagFloat,
.split {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.peekZoomLockout{
    background-color: red !important;
}

